* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.App {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  width: 80%;
}
.App div:nth-child(2){
   width: 56%;
}

.board {
  border: 6px solid #0c6dbd;
  background: #0c6dbd;
  width: 600px;
  height: 500px;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(6, 1fr);
  gap: 6px;
}

.squares {
  background: #272727;
  border: none;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0);
  cursor: pointer;
  outline: none;
}

.black {
  background-image:url('https://pbs.twimg.com/profile_images/378800000118489223/e48987243d156522db695b29c58ac37c.jpeg');
  background-position: center;
  background-size: cover; 
}
.white {
  background-image:url('https://i.etsystatic.com/17740671/r/il/41d355/1598339451/il_570xN.1598339451_4axu.jpg');
  background-position: center;
  background-size: cover; 
}

.moveTurn {
  position: relative;
  top: 10px;
  right: -240px;
  color: black;
  margin-left: 200px;
}

.moveTurn p {
  font-size: 20px;
  font-family: 'Trebuchet MS', sans-serif;
}

.poetryBox {
  border: 1px solid blue;
  overflow-y: auto;
  color: green;
  height: 450px;
  padding: 15px;
  scrollbar-width: thin;
  scrollbar-color: blue;
}

.poetryBox div {
  margin-bottom: 20px; 
}

.poetryBox div p {
  font-family: 'Trebuchet MS', sans-serif;
}

.poetryBox div p:nth-child(2) {
  margin-top: 8px;
}

.undoButton {
  margin-top: 5px;
  margin-left: 25px;
  height: 45px;
  font-size: 20px;
  font-family: 'Brush Script MT', cursive;
  background-color: rgb(77, 77, 177);
  border-radius: 12px;
  color: white;
}

.modalWindow {
  z-index: 3;
  display: block;
  padding-top: 140px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 600px;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.Window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(236, 236, 236, 0.911);
  border-radius: 1%;
  margin: 0 auto; 
  padding: 20px;
  border: 1px solid #888;
  height: 60%; 
  width: 50%; 
}

.Window img {
  width: 400px;
  margin-bottom: 20px;
}

.Window button {
  width: 200px;
  height: 50px;
  border-radius: 1%;
  font-size: 20px;
  font-family: 'Brush Script MT', cursive;
  background-color: rgb(77, 77, 177);
  color: white;
}

.Window p {
  text-align: center;
  font-size: 30px;
  font-family: 'Brush Script MT', cursive;
  color:rgb(77, 77, 177);
  margin-bottom: 10px;
}