* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.App {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  width: 80%;
}
.App div:nth-child(2){
   width: 56%;
}

.board {
  border: 6px solid #0c6dbd;
  background: #0c6dbd;
  width: 600px;
  height: 500px;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(6, 1fr);
  gap: 6px;
}

.squares {
  background: #272727;
  border: none;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0);
  cursor: pointer;
  outline: none;
}

.black {
  background-image:url('https://pbs.twimg.com/profile_images/378800000118489223/e48987243d156522db695b29c58ac37c.jpeg');
  background-position: center;
  background-size: cover; 
}
.white {
  background-image:url('https://i.etsystatic.com/17740671/r/il/41d355/1598339451/il_570xN.1598339451_4axu.jpg');
  background-position: center;
  background-size: cover; 
}

.poetryBox {
  border: 1px solid blue;
  overflow-y: auto;
  color: green;
  height: 450px;
  padding: 15px;
}

.poetryBox div {
  margin-bottom: 14px; 
}
