
.App {
  justify-items: stretch;
  margin: 20px;
  margin-top: 40px;
  width: 120%;
}

.boardcol {
  margin-bottom: 20px;
}
.board {
  background: white;
  width: 100%;
  height: 450px;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(6, 1fr);
  gap: 3px;
}

.squares {
  background: #0c6dbd;
  border-radius: 15px;
  border: none;
  color: rgba(0, 0, 0, 0);
  cursor: pointer;
  outline: none;
}

.black {
  background-image:url("https://i.ibb.co/q1Pkfx8/darshan-chudasama-kbcp-VCS74-Dw-unsplash.jpg" );
  background-position: center;
  background-size: cover; 
}
.white {
  background-image:url('https://i.ibb.co/qxw0ZWQ/clyde-rs-4-Xb-ZCf-U2-Uoo-unsplash-2.jpg');
  background-position: center;
  background-size: cover;
}

.moveTurn {
  position: relative;
  color: black;
  margin-top: 10px;
}

.moveTurn p {
  font-size: 20px;
  font-family: 'Trebuchet MS', sans-serif;
}

.poetry {
  margin-top: -15px;
  margin-right: 10px;
}
.poetry h5{
  color: crimson;
}

.title{
  margin-top: 15px;
  margin-bottom:10px ;
  color: black;
  font-style: oblique;
}
.poetryBox {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: blue;
  height: 360px;
  color: #4d4db1;
}
.poetryBox p {
  font-family: 'Trebuchet MS', sans-serif;
  margin: 0px;
  font-size: small;
}

.firstcolumn {
  margin-top: 20px;
}

.undoButton {
  width: 100%;
  margin-top: 30px;
}
.undoButtonText {
  height: 40px;
  font-size: 25px;
  font-family: 'Brush Script MT', cursive;
  background-color: rgb(77, 77, 177);
  border-radius: 12px;
  color: white;
}
.modalWindow {
  z-index: 3;
  display: block;
  padding-top: 140px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 600px;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.Window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(236, 236, 236, 0.911);
  border-radius: 1%;
  margin: 0 auto; 
  padding: 20px;
  border: 1px solid #888;
  height: 60%; 
  width: 50%; 
}

.Window img {
  width: 400px;
  margin-bottom: 20px;
}

.Window button {
  width: 200px;
  height: 50px;
  border-radius: 1%;
  font-size: 20px;
  font-family: 'Brush Script MT', cursive;
  background-color: rgb(77, 77, 177);
  color: white;
}

.Window p {
  text-align: center;
  font-size: 30px;
  font-family: 'Brush Script MT', cursive;
  color:rgb(77, 77, 177);
  margin-bottom: 10px;
}

@media(max-width: 720px) {
  .board {
    height: 350px;
  }
  .undoButton {
    margin-top: 25px;
  }
  .undoButtonText {
    height: 35px;
    font-size: 19px;
  }
  .moveTurn p {
    font-size: 14px;
    font-family: 'Trebuchet MS', sans-serif;
  }
  .poetryBox {
    height: 260px;
    margin-top: -10px;
  }
  .poetry h5{
    font-size: small;
  }
  .title{
    margin-top: 7px;
    margin-bottom:0px ;
  }
  .poetry p{
    font-size: small;
  }

}

@media(max-width: 460px) {
  .App {
    justify-items: stretch;
    margin: 0px;
    margin-top: 20px;
    width: 105%;
  }
  .board {
    height: 200px;
    width: 210px;
  }
  .squares {
    border-radius: 7px;
  }
  .firstcolumn {
    margin-right: 10px;
  }
  .undoButton {
    margin-top: 10px;
  }
  .undoButtonText {
    height: 25px;
    font-size: 13px;
  }
  .moveTurn p {
    font-size: 11px;
    font-family: 'Trebuchet MS', sans-serif;
  }
  .poetry {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 40px;
    width: 100%;
    padding: 0px;
  }
  .poetry h5{
    font-size: x-small;
  }
  .poetryBox {
    height: 200px;
    margin-top: -10px;
    /*margin-right: -10px;*/
  }
  .title{
    margin-top: 4px;
    margin-bottom:-10px ;
  }
  .poetry p{
    font-size: x-small;
  }
}